html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png');
    /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 80px;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 60px;
}


/*
/*Game Board 
*/

div#game_board {
    width: 960px;
    min-height: 980px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    font-size: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}


/*
/*Cards
*/

div#game_board>div {
    height: 200px;
    width: 200px;
    background: #2e3d49;
    font-size: 125px;
    color: #000000;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}


/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 960px;
    font-size: 60px;
    margin-bottom: 10px;
}

.restart {
    font-size: 60px;
    float: right;
    cursor: pointer;
}

.time {
    float: right;
}


/* The Modal (background) */

.modal {
    /* Hidden by default */
    display: none;
    position: absolute;
    float: center;
    padding-top: 200px;
    left: 25%;
    top: 20%;
    bottom: 10%;
    width: 50%;
    height: 70%;
    /* Enable scroll if needed */
    overflow: auto;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    font-size: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.modalContent {
    font-size: 60px;
}

.modalStar {
    float: left;
    padding: 10px;
    margin: 10px;
}

.modalTime {
    float: center;
    font-size: 50px;
}

.modalScore {
    font-size: 50px;
    float: left;
}

@media (max-width: 1000px) {
    div#game_board {
        width: 660px;
        min-height: 680px;
    }
    div#game_board>div {
        height: 125px;
        width: 125px;
    }
    .score-panel {
        width: 360px;
        font-size: 40px;
    }
    .restart {
        font-size: 40px;
    }
    .modal {
        padding-top: 0px;
        left: 0%;
        top: 0%;
        bottom: 10%;
        width: 100%;
        /* Full width */
        height: 50%;
    }
    .modalTime {
        float: center;
        font-size: 30px;
    }
    .modalScore {
        font-size: 30px;
        float: left;
    }
    .modalStar {
        float: left;
        padding: 5px;
        margin: 5px;
    }
    .modalContent {
        font-size: 30px;
    }
    .restart {
        font-size: 30px;
    }
}

@media ( max-width: 1350px) {
    .modal {
        padding-top: 0px;
        left: 0%;
        top: 0%;
        bottom: 10%;
        width: 100%;
        /* Full width */
        height: 50%;
    }
    .modalTime {
        float: center;
        font-size: 30px;
    }
    .modalScore {
        font-size: 30px;
        float: left;
    }
    .modalStar {
        float: left;
        padding: 5px;
        margin: 5px;
    }
    .modalContent {
        font-size: 30px;
    }
    .restart {
        font-size: 30px;
    }
}